parameters:
    level: 5
    paths:
        - src/
    bootstrapFiles:
        - vendor/autoload.php
        - ../../vendor/autoload.php
        - ../../vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
