name: Run CI tests

on:
  workflow_dispatch: ~
  pull_request:
    branches: [ stable ]
    types: [ opened, synchronize, reopened ]

jobs:
  trigger_test:
    strategy:
      matrix:
        php: [ '8.0', '8.1' ]
        mysql: ['5.7.37', '8.0' ]
    uses: ./.github/workflows/development.yaml
    with:
      php: ${{ matrix.php }}
      mysql: ${{ matrix.mysql }}
