name: Run CI tests

on:
  workflow_dispatch: ~
  pull_request:
    branches: [ stable ]
    types: [ opened, synchronize, reopened ]

jobs:
  run-tests:
    strategy:
      matrix:
        php: [ '8.0', '8.1' ]
        mysql: [ '5.7.37', '8.0' ]
    name: "Testing PHP ${{ matrix.php }} with MySQL ${{ matrix.mysql }}"
    uses: ./.github/workflows/development.yml
    secrets: inherit
    with:
      php: ${{ matrix.php }}
      mysql: ${{ matrix.mysql }}
#      report_sonarcloud: true
